<section class="posts">
    <% page.posts.each(function (post) { %>
        <article class="post-card">
            <div class="card-title">
                <%- partial("_partial/post_title", {post: post}) %>
            </div>
            <div class="post-content">
                <%- post.excerpt %>
            </div>
            <div class="card-meta">
                <span class="card-time"><time datetime=<%=date(post.date, "YYYY-MM-DD") %>><%- date(post.date, "YYYY-MM-DD") %></time></span>
                <%- list_tags(post.tags, {
                    show_count: false,
                    class: "card-tags",
                    style: "none",
                    separator: ""
                }) %>
                <a class="read-more" href="<%- url_for(post.path) %>"> 阅读全文 </a>
            </div>
        </article>
    <% }) %>
</section>
<%- partial("_partial/paginator", {post: page, index: true}) %>