<article class="post">
    <div class="post-title">
        <% if (page.path === "tags/index.html"){ %>
            <div class="post-content">
                <h2>【分类汇总】</h2>
                <div class = "categories">
                    <%- list_categories({
                        depth: 1,
                        show_count: false,
                    }) %>
                <h2>【碎片集锦】</h2>
                <div class="tags">
                    <%- tagcloud({
                        min_font: 16, 
                        max_font: 35, 
                        amount: 999, 
                        color: true, 
                        start_color: 'gray', 
                        end_color: 'black',
                    }) %>
                </div>
                <%- page.content %>
                <style>
                    .category-list li{
                        display: inline-block;
                        margin: 0 1em .5em 0;
                        padding: 4px;
                        border: 1px solid lightgray;
                        font-size: 1.2em;
                    }
                    .category-list a {
                        color: gray;
                    }
                    .category-list-item:hover a {
                        color: gray;
                        text-decoration: none;
                        font-weight: bold;
                    }
                    .category-list-count {
                        margin-left: 2px;
                        font-size: .9em;
                    }
                    .article-entry ul li:before{
                        display: none;
                    }
                    .article-inner  {
                        text-align: center;
                    }
                    .tags {
                        max-width: 40em;
                        margin: 2em auto;
                        margin-top: 0em;
                    }
                    .tags a {
                        margin-right: 1em;
                        border-bottom: 1px solid gray;
                        line-height: 65px;
                        white-space: nowrap;
                    }
                    .tags a:hover {
                        border-bottom: 2px solid black;
                        font-style: italic;
                        text-decoration: none;
                    }
                </style>
            </div>
        <% } else { %>
            <% if (page.path === "about/index.html"){ %>
                <div class="post-content">
                    <%- page.content %>
                </div>
            <% } else{ %>
                <% if (page.path === "/404.html"){ %>
                    <div class="post-content">
                        <%- page.content %>
                    </div>
                <% } else{ %>
                    <div class="post-meta">
                        <br>
                        <span class="post-time"><%- date(page.date, "YYYY-MM-DD") %></span>
                        </br>
                        <%- partial('post/tag') %>
                        <%- partial('post/category') %>
                    </div>
                    <div class="post-content">
                        <%- page.content %>
                    </div>
                <% } %>
            <% } %>
        <% } %>
    </div>
</article>
<%- partial('post/nav') %>