<article class="post">
    <div class="post-title">
        <% if (page.path === "tags/index.html"){ %>
            <div class="post-content">
                <h2>【故事集锦】</h2>
                <div class = "categories">
                    <%- list_categories({
                        depth: 1,
                        show_count: false,
                    }) %>
                <h2>【碎片集锦】</h2>
                <div class="tags">
                    <%- tagcloud({
                        min_font: 16, 
                        max_font: 35, 
                        amount: 999, 
                        color: true, 
                        start_color: 'gray', 
                        end_color: 'black',
                    }) %>
                </div>
                <div class "post-content">
                    <%- page.content %>
            </div>
        <% } else { %>
            <% if (page.path === "about/index.html"){ %>
                <div class="post-content">
                    <%- page.content %>
                </div>
            <% } else{ %>
                <% if (page.path === "/404.html"){ %>
                    <div class="post-content">
                        <%- page.content %>
                    </div>
                <% } else{ %>
                    <div class="post-meta">
                        <br>
                        <span class="post-time"><%- date(page.date, "YYYY-MM-DD") %></span>
                        </br>
                        <%- partial('post/tag') %>
                        <%- partial('post/category') %>
                    </div>
                    <div class="post-content">
                        <%- page.content %>
                    </div>
                <% } %>
            <% } %>
        <% } %>
    </div>
</article>
<%- partial('post/nav') %>