<footer class="footer">
    <div class="footer-left">
        <%
            var year = date(new Date(), "YYYY");
            if(config.author || config.title){
                var information = config.author || config.title;
            } else {
                var information = "Reserved";
            }
            var footer_information = "2014-"+ year + " " + information;
            if(theme.email){
                var email = "mailto\:" + theme.email;
                var email_target = "_blank";
            } else {
                var email = url_for("/");
                var email_target = "_self";
            }
        %>
        <div class="footer-left-item">
            <a href="https://hexo.io/" target="_blank" rel="nofollow">Power_by Hexo</a>
        </div>
        <div class="footer-left-item">
            <a href=<%= email %> target=<%= email_target %> rel="nofollow">&copy; <%= footer_information %></a>
        </div>
    </div>
    <div class="footer-right">
        <%if(theme.record){%>
            <div class="footer-right-item">
                <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow"><%= theme.record %></a>
            </div>
        <% }else{ %>
            <div class="footer-right-item">
                <a href=<%- url_for("/") %> target="_self" rel="nofollow">Thanks for reading!</a>
            </div>
        <% } %>
        <div class="footer-right-item">
            <a href="https://github.com/yi-Xu-0100/hexo-theme-yixuju" target="_blank">Theme_by WhiteInk</a>
        </div>
    </div>
</footer>