<header class="header">
    <div class="blog-title">
        <a href="<%- url_for() %>" class="logo"><%= config.title %></a>
        <a class="header-avatar" href="/about" title="yi_Xu">
            <%- image_tag('/img/avatar.png',{alt:'logo头像'}) %>
        </a>
    </div>
    <div class="navbar">
        <nav class="mainnav">
            <ul class="menu">
                <% for (name in theme.menu) { %>
                    <li class="menu-item">
                    <a href="<%- url_for(theme.menu[name]) %>" class="menu-item-link"><%- __('Menu.' + name) %></a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</header>