<header class="header">
    <div class="blog-title">
        <ul class="logo">
            <li>
                <a class="site-title" href=<%- url_for("/") %>>
                    <%= config.title || config.author %>
                </a>
            </li>
            <li >
                <a class="author-avatar" href=<%- url_for("/about") %> title="<%= config.author %>">
                    <img src=<%- url_for("img/avatar.png") %> alt=<%= config.author %> ></img>
                </a>
            </li>
        </ul>
    </div>
    <div class="navbar">
        <nav class="mainnav">
            <ul class="menu">
                <% for (name in (config.WhiteInk || theme).menu) { %>
                    <li class="menu-item">
                        <%
                            var menu_name = __("Menu." + name);
                        %>
                        <a href="<%- url_for((config.WhiteInk || theme).menu[name]) %>" class="menu-item-link"><%= menu_name %></a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</header>