<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="google-site-verification" content="UxdSbWbRWd87j1ABsTv6PRLV3a126hJe4A0Nyz-4Mj8" />
    <%
        var title = page.title;
        if (is_archive()){
            title = __('Archive');
        if (is_month()){
            title += ': ' + page.year + '/' + page.month;
        } else if (is_year()){
            title += ': ' + page.year;
        }
        } else if (is_category()){
            title = __('categories') + ': ' + page.category;
        } else if (is_tag()){
            title = __('tags') + ': ' + page.tag;
        }
    %>
    <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
    <% if (theme.rss){ %>
        <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
    <% if (theme.favicon){ %>
        <link rel="icon" href="<%- theme.favicon %>">
    <% } %>
    <% if (config.highlight.enable){ %>
        <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
    <% } %>
    <%- css('css/style') %>
    <%- partial('google-analytics') %>
</head>